.main {
    color: #010101;
    border-bottom: solid 3px #6594e0;
    padding: 0.5em;
}

.text {
    
    font-size: 70px;
    color: black;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #6594e0;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 25px;
    margin: 0 0 10px;
}

form input {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 70%;
}

.Enviar {
    width: 40%;
    padding: 20px 0;
    background: #6594e0;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.Enviar:hover {
    background: #4E72AD;
}